name: Build and Test

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Build
        run: |
          cmake -B build
          cmake --build build

      - name: Test
        run: ctest --test-dir build

      - name: Install
        run: sudo cmake --install build

      - name: Smoke test
        run: |
          cmake -B build
          cmake --build build
          ./build/ci-cmake
          ./build/ci-pkgconfig
        working-directory: ci
