name: Lint C++ code

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: none

jobs:
  lint:
    name: clang-format (${{ matrix.path }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        path:
          - examples
          - include
          - src
          - test
    permissions:
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: clang-format Check
        uses: jidicula/clang-format-action@4726374d1aa3c6aecf132e5197e498979588ebc8 # v4.15.0
        with:
          clang-format-version: 20
          check-path: ${{ matrix.path }}
