name: Update vcpkg baseline

on:
  push:
    paths:
      - 'vcpkg'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  update-baseline:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true

      - name: Get latest vcpkg baseline
        id: vcpkg-baseline
        run: |
          BASELINE="$(git submodule status vcpkg | awk '{print $1}')"
          echo "baseline=${BASELINE}" >> ${GITHUB_OUTPUT}

      - name: Update vcpkg-configuration.json
        run: |
          jq --arg baseline "${{ steps.vcpkg-baseline.outputs.baseline }}" '.["default-registry"].baseline = $baseline' vcpkg-configuration.json > tmp.$$.json && mv tmp.$$.json vcpkg-configuration.json
          if ! git diff --quiet vcpkg-configuration.json; then
            echo "KEEP_GOING=yes" >> "${GITHUB_ENV}"
          fi

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          commit-message: "chore(deps): update default registry's baseline to `${{ steps.vcpkg-baseline.outputs.baseline }}`"
          title: "chore(deps): update default registry's baseline to `${{ steps.vcpkg-baseline.outputs.baseline }}`"
          body: |
            This PR updates default registry's baseline to `${{ steps.vcpkg-baseline.outputs.baseline }}`.
          branch: "update-vcpkg-baseline-${{ steps.vcpkg-baseline.outputs.baseline }}"
          labels: dependencies
          token: ${{ secrets.REPOSITORY_ACCESS_TOKEN }}
        if: env.KEEP_GOING == 'yes'
